

.parent {
    width: 100%;
    height: 600px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* justify-content: space-between; */
 
    /* justify-content: space-around; */
    /* justify-content: center; */
 
    flex-wrap: wrap;
    flex-direction: column;
    /* flex-direction: row-reverse; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* padding: 2%; */
    /* margin: 2%; */
 
}
 
.child {
    width: 24%;
    height: 200px;
    background-color: brown;
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    /* padding: 3px; */
}
 
.parallax {
    background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
    width: 100%;
    height: 864px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}