.mydiv {                    
    /* rgb */
    /* background-color: #000000; */
    background-color: lightblue;
    width: 50%;
    /* height: 1000px; */
}

.mydiv img {
    width: 95%;
}

.myP {
    color: #666666;
    border: 1px dashed red;
    font-family:'Times New Roman', Times, serif;
    /* font-size: 150%; */
    font-size: 24px;

}

body {
    background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    background-repeat: no-repeat;
    /* background-size: contain; */
    /* background-repeat: repeat-y; */
    background-size: 100%;

}


.mydiv2 {
    width: 100%;
}

.child {
    height: 100px;
    width: 200px;
    background-color: lightcoral;
    border: 1px solid blue;
    /* margin-left: 45%;
    margin-bottom: 10px; */
    margin: 0 0 10px 45%;
    border-radius: 50%;
}

.parent {
    background-color: lightgreen;
    padding-left: 50px;
    padding-top: 70px;
}