.header {
    display: flex;
    /* width: 100%; */
    height: 100px;
    left: 0;
    right: 0;
    justify-content: space-around;
    /* background-color: aquamarine;  */
    align-items: center;
    padding: 0 110px;
    position: fixed;
    background-color: white;
}


.nav-bar{
    display: flex;
    /* background-color: azure; */
}

.nav-bar a{
    padding: 15px 25px;
    margin: 0 5px;
    color: black;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-decoration: none;
    /* background-color: bisque; */
}
.nav-bar a:first-child {
    background-color: #ffe500;
}
/* .nav-bar a:last-child {
    background-color: blue;
}
.nav-bar a:nth-child(even) {
    background-color: red;
} */
/* .nav-bar a:not(2) {
    background-color: coral;
} */


.quote a{
    padding: 15px 25px;
    margin: 0 5px;
    background-color: #ffe500;
    color: black;
    font-size: 16px;
    text-decoration: none;

    font-family: 'PT Sans', sans-serif;
    font-weight: 700;

}
.quote a:hover {
    background-color: black;
    color: white;
}

/* .nav-home {
    background-color: #ffe500;
} */
